*{
	margin: 0;
	padding: 0;
  font-family: "Playfair Display", Times, serif;
}

:root{
	--primary-color: #2b2a27;
	--second-color: #F3F6FF;
}


header{
	position: relative;
	background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('../image/banner-01.jpg');
	width: 100%;
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.header{
	position: fixed;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #fff;
	margin-bottom: 0px;

}

.header img{
	width: 50%;
}

.header ul{
	list-style: none;
	margin-left: 150px;
}

.header ul li{
	float: left;
	margin: 10px 10px 0px 0px;
	text-align: center;
	width: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.header ul li a{
	text-decoration: none;
	color: #2b2a27;
	font-size: 20px;
	font-weight: 400;
}

.header ul li:hover a{
	color: #169bda;
}

.pan{
	width: 47px;
	margin: 20px 20px;
	border-radius: 2px;
	cursor: pointer;
}

.pan span{
	width: 19px;
	padding: 3px;
	margin-left: 10px;
	display: block;
	border-bottom: 2px solid #169bda;
}

.dis{
	text-align: center;
	padding-top: 140px;
}

.dis h1{
	font-size: 38px;
	line-height: 1.5;
	color: #ccc;
}

.butn {
	margin: auto;
	background-color: #169bda;
	color: var(--primary-color);
	padding: 18px 19px;
	width: 110px;

}

.butn a{
	text-decoration: none;
	color: var(--second-color);
}

/*this are the part two of our css project */

.tes{
	text-align: center;
	background-color: #F3F6FF;
	padding-top: 50px;
	height: 100%;
}

.tes h1{
	font-size: 30px;
	font-weight: 400;
	color: var(--primary-color);
	line-height: 1.8;
	letter-spacing: 4px;
}

.tes-par{
	font-size: 17px;
	color: #777777;
}

.holder{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.holder .hexagon{
	position: relative;
	width: 350px;
	height: 400px;
	margin: 50px 20px 70px;
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.holder .hexagon .shape{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
}

.holder .hexagon:hover .shape .content{
	opacity: 1;
}

.holder .hexagon .shape img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.holder .hexagon .shape .content{
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-align: center;
	background: linear-gradient(45deg, #03a9f4, rgba(3,169,244,0.5));
	line-height: 1.7;
	color: #fff;
	opacity: 0;
	transition: 0.5s;
}


.footer{
	background-color: #252531;
	display: flex;
	justify-content: center;
	padding: 50px 90px;
}

.fot{
	width: 70%;
	padding: 20px;
	color: #ccc;
}

.fot h4{
	letter-spacing: 1.6px;
	font-size: 1.1rem;
	font-weight: 400;
	padding-bottom: 7px;
	border-bottom: 2px solid #169bda;
	margin-bottom: 10px;
}

.fot p{
	line-height: 1.5;
}

.foicon{
	padding-top: 10px;
}

.foicon i{
	padding: 15px;
	margin: 10px;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
}

.foicon i:hover{
	cursor: pointer;
	background-color: #169bda;
	color: #252531;
	border: none;

}


.fot ul{
	list-style: none;
}

.fot ul li{
	display: block;
	font-size: 20px;
	padding: 6px 10px;
}

.fot ul li a{
	text-decoration: none;
	color: #ccc;
}

.fot ul li a:hover{
	color: #169bda;
}

.loc i{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.footer1{
	background-color: var(--primary-color);
	padding: 30px;
	color: var(--second-color);
	letter-spacing: 1.6px;
}