*{
	margin: 0;
	padding: 0;
  font-family: "Playfair Display", Times, serif;
}

:root{
	--primary-color: #2b2a27;
	--second-color: #F3F6FF;
}


header{
	position: relative;
	background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('../image/servise.jpg');
	width: 100%;
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.header{
	position: fixed;
	z-index: 18;
	display: flex;
	justify-content: space-around;
	width: 100%;
	background-color: #fff;
	margin-bottom: 0px;

}

.header img{
	width: 50%;
}

.header ul{
	list-style: none;
	margin-left: 150px;
}

.header ul li{
	float: left;
	margin: 10px 10px 0px 0px;
	text-align: center;
	width: 140px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.header ul li a{
	text-decoration: none;
	color: #2b2a27;
	font-size: 20px;
	font-weight: 400;
}

.header ul li:hover a{
	color: #169bda;
}

.pan{
	width: 47px;
	margin: 20px 20px;
	border-radius: 2px;
	cursor: pointer;
}

.pan span{
	width: 19px;
	padding: 3px;
	margin-left: 10px;
	display: block;
	border-bottom: 2px solid #169bda;
}

.dis{
	text-align: center;
	padding-top: 140px;
}

.dis h1{
	font-size: 38px;
	line-height: 1.5;
	color: #ccc;
}

.butn {
	margin: auto;
	background-color: #169bda;
	color: var(--primary-color);
	padding: 18px 19px;
	width: 110px;

}

.butn a{
	text-decoration: none;
	color: var(--second-color);
}

/*this for second section part of our project*/

.fir-sec{
	background: #fff;
	padding-top: 50px;
}

.fir-sec h3{
	font-size: 30px;
	font-weight: 450;
	letter-spacing: 1px;
	line-height: 1.7;
	color: var(--primary-color);
	width: 430px;
}

.fir-sec p{
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 0.4;
	color: gray;
	font-size: 17px;
}

.cont-box{
	display: flex;
	justify-content: center;
}

.boxes{
	position: relative;
	width: 24%;
	height: 67vh;
	background: #6666;
	margin: 35px;
}

.boxes img{
	margin-top: 0px;
	width: 100%;
	height: 100%;
}

.des{
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(45deg, #03a9f4, rgba(3,169,244,0.5));
	width: 100%;
	height: 100%;
	display: none;
}

.des h5{
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	padding-top: 130px;
}

.des p{
	color: #fff;
	line-height: 1.4;

}

.boxes:hover .des{
	display: block;
}


.slide{
	height: 130vh;
}

.slide h1{
	color: var(--primary-color);
	letter-spacing: 0px;
	font-weight: 480;
	margin: 40px auto;
}

.button{
	margin-bottom: 70px;
}

.button button{
	cursor: pointer;
	background: #169bda;
	color: var(--second-color);
	border: none;
	padding: 10px 20px;
	margin: 0px 3px;

}

.button button:hover{
	background: var(--primary-color);
}

.button button a{
	font-size: 17px;
}

.chs{
	display: flex;
	justify-content: center;
}

.target{
	margin: 0px 10px;
	width: 25%;
	height: 45vh;
}

.target img{
	margin: 0px;
	height: 100%;
	width: 100%;
}


/*this for last part of our project*/

.footer{
	background-color: #252531;
	display: flex;
	justify-content: center;
	padding: 50px 90px;
}

.fot{
	width: 70%;
	padding: 20px;
	color: #ccc;
}

.fot h4{
	letter-spacing: 1.6px;
	font-size: 1.1rem;
	font-weight: 400;
	padding-bottom: 7px;
	border-bottom: 2px solid #169bda;
	margin-bottom: 10px;
}

.fot p{
	line-height: 1.5;
}

.foicon{
	padding-top: 10px;
}

.foicon i{
	padding: 15px;
	margin: 10px;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
}

.foicon i:hover{
	cursor: pointer;
	background-color: #169bda;
	color: #252531;
	border: none;

}


.fot ul{
	list-style: none;
}

.fot ul li{
	display: block;
	font-size: 20px;
	padding: 6px 10px;
}

.fot ul li a{
	text-decoration: none;
	color: #ccc;
}

.fot ul li a:hover{
	color: #169bda;
}

.loc i{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.footer1{
	background-color: var(--primary-color);
	padding: 30px;
	color: var(--second-color);
	letter-spacing: 1.6px;
}